.idea
build
target
.classpath*
.settings
*.pxl
*~
*.iml
.DS_Store
*.class
.mvn
/mvn
TestParams.java
core-site.xml
hdfs-site.xml
mvnw.cmd
logs/
package-info.java
*.sql
*.log
#*.txt
*.csv
resources/*.xml
*.so
*.o
.vscode
