[submodule "cpp/duckdb"]
	path = cpp/third_party/duckdb
	url = https://github.com/yuly16/duckdb
[submodule "cpp/third_party/protobuf"]
	path = cpp/third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
