[submodule "cpp/third_party/protobuf"]
	path = cpp/third-party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "cpp/pixels-duckdb"]
	path = cpp/pixels-duckdb
	url = git@github.com:pixelsdb/duckdb.git
[submodule "writer_cpp_test/third-party/protobuf"]
	path = writer_cpp_test/third-party/protobuf
	url = https://github.com/protocolbuffers/protobuf
