.idea
build
target
.classpath*
.settings
*.pxl
*~
*.iml
.DS_Store
*.class
.mvn
TestParams.java
core-site.xml
hdfs-site.xml
mvnw.cmd
logs/
pixels-core/logs
package-info.java
*.sql
*.log
*.txt
test30G_pixels/
*.csv